<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <%- include('partial/head') %>
</head>
<body>
  <%- include('partial/navbar') %>
  <h1>Welcome to our Homepage! <%= "Testing123".toUpperCase() %></h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quod, quibusdam nisi sunt itaque labore expedita id! Dignissimos minus praesentium exercitationem? Eius, voluptas magni reprehenderit, rem, dolor itaque similique vero sint consequuntur a asperiores numquam doloremque et adipisci fuga unde maiores sunt nemo! Veritatis quia doloribus autem, saepe suscipit illum!</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur harum quae ea esse? Similique ipsum saepe quasi laborum deleniti ipsa.</p>
</body>
</html>